body {
background-color: white;
background-attachment: fixed;
font-family: segoe UI;
  }

  h1 {
    color: black;
    text-align: center;
    text-shadow: 0 0 0px #000000;
    font-family: segoe UI;
  }
  .pCaption {
    color: rgb(0, 32, 211);
    text-align: left;
    font-family: segoe UI;
    padding-left: 6px;
  }
  h4 {
    color: rgb(58, 51, 171);
    text-align: left;
    font-family: segoe UI Light;
    padding-left: 6px;
  }
  p {
    font-family: segoe UI;
  }
  .red
  {
    color:red;
  }

  td
  {
      padding: 20px;
  }

  .h1Bg
  {
    height: 60px;
    border-radius: 20px;
  }

  .bg
  {
    background-color: rgb(250, 250, 250);
    float: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 1px 6px 0px rgba(32,33,36,0.28);
    border-radius: 20px;
    padding: 20px;
    /*border: 1px solid cornflowerblue;*/
  }

  .button {
    border-radius: 10px;
      background-color: #eee;
      border: 1px;
      border-color: black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    }

    .button:hover {opacity: 1}

    input{
      outline: none;
    }

    input[type=text], input[type=password], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=submit], input[type=button]  {
      border-radius: 10px;
      background-color: #eee;
      border: 1px;
      border-color: black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;

    }

    input[type=submit]:hover, input[type=button]:hover {
      background-color: #45a049;
      opacity: 1;
    }
/*login*/
.commandLinkTD
{
  padding: 3px;
  height: 10px;
}
.accessoIcona{
  width: 30px;
  text-align: center;
}

i{
  width: 30px;
  height: 30px;
  font-size: 30px;
  background-color: rgb(38, 168, 11);
  color: white;
  padding: 20px;
  border-radius: 100px;
}
.commandLinkTitle
{
  margin: 3px;
  color: rgb(58, 51, 171);
  text-align: left;
  padding: 1px;
  font-weight: bold;
}
.titoloAccesso{
  margin: 3px;
  font-size: 20px;
  text-align: left;
}
  /*navbar*/

  .NavUl {
    border-radius: 10px;
    list-style-type: none;
    margin: 0px, 0px, 0px, 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    border: 0px solid #333;
    box-shadow: 0px 1px 6px 0px rgba(32,33,36,0.28);
  }

  .NavLi {
    float: left;
    border-right:1px solid rgb(240, 240, 240);
  }

  .NavLi:last-child {
    border-right: none;
  }

  .NavLi a {
	margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .NavLi a:hover:not(.active) {
    background-color: rgb(38, 168, 11);
  }

  .NavActive {
    background-color: transparent;
  }
  /* sidenav */
  .sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    border-top-right-radius: 20px;
    margin-left: 5px;
    box-shadow: 0px 1px 6px 0px rgba(32,33,36,0.28);
    background-color: rgb(250, 250, 250);
    margin-top: 70px;
  }

  .sidenav a {
    padding: 8px;
    padding-left: 32px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.2s;
  }

  .sidenav a:hover {
    background-color: darkgray;
    color:white;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .2s;
    padding: 16px;
    margin-left: 225px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Sidenav Button */
  .container {
    margin: 8px;
    margin-left: 18px;
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 24px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 100px;
    transition: 0.2s;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
	transform: rotate(45deg) translate(-7px, -7px);
  }

  /* Sidenav not laoding */

  .loading-container{
    width: 100%;
    margin: 50%;
    transform: translate(-50%, -50%);
  }

  .load1{
    border: 6px solid rgb(38, 168, 11);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    position: absolute;
    margin: 50%;
    transform: translate(-50%, -50%);
    animation: 3s loading infinite;
  }

  .load2{
    border: 6px solid rgb(38, 168, 11);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    margin: 50%;
    transform: translate(-50%, -50%);
    animation: 2s loading infinite;
    animation-delay: 0.5s;
  }

  .load3{
    border: 6px solid rgb(38, 168, 11);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    margin: 50%;
    transform: translate(-50%, -50%);
    animation: 1.5s loading infinite;
    animation-delay: 0.5s;
  }

  @keyframes loading{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50%{
      transform: translate(-50%, -50%) rotate(-360deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
